<!--Navbar-->
<nav class="navbar navbar-dark">


  <div class="container" id="main-navbar">

    <!--Navbar Brand-->
    <a class="navbar-brand" href="/">b@UCL</a>
    <!--Links-->
    <ul class="nav navbar-nav">
      <% if logged_in? %>
          <li><%= link_to "Users", '#' %></li>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>


      <% else %>
          <li><%= link_to "Log in", root_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
<!--/.Navbar-->